.container {
  padding: 1.25rem; 
  font-family: Arial, sans-serif;
}

.catalogue {
  background: #fff;
  border-radius: 0.5rem;
  padding: 1.25rem; 
  box-shadow: 0.06rem 1.25rem 1.25rem rgba(0, 0, 0, 0.08); 
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 1.56rem; 
}

.toast-success {
  background-color: #4caf50 !important;
  color: #fff !important;
}

.toast-error {
  background-color: #f44336 !important;
  color: #fff !important;
}

.toast-info {
  background-color: #2196f3 !important;
  color: #fff !important;
}

.toast-warning {
  background-color: #ff9800 !important;
  color: #fff !important;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #222;
}

.subtitle {
  font-size: 0.95rem;
  color: #555;
}

.filter-section {
  display: flex;
  gap: 0.63rem; 
  align-items: center;
}

.search-box,
.status-select,
.reset-button {
  padding: 0.5rem 0.63rem; 
  border-radius: 0.38rem; 
  border: 0.06rem solid #ccc; 
  font-size: 0.95rem;
}

.reset-button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
  transition: background 0.7s;
}

.reset-button:hover {
  background-color: #0056b3;
}

.book-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16.25rem, 1fr)); 
  gap: 1.25rem;
}

.book-card {
  background: #ffffff;
  border: 0.06rem solid #ddd; 
  border-radius: 0.63rem; 
  padding: 0.94rem 1.25rem; 
  height: 20vh; 
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 0.06rem 0.63rem 0.94rem rgba(0, 0, 0, 0.05); 
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.book-card:hover {
  transform: translateY(-0.38rem); 
  box-shadow: 0.06rem 1.25rem 1.56rem rgba(0, 0, 0, 0.12); 
}

.book-details p {
  margin: 0.31rem 0;
  font-size: 0.95rem;
  color: #333;
}

.status {
  padding: 0.13rem 0.5rem; 
  border-radius: 0.25rem; 
  color: #fff;
  font-size: 0.8rem;
}

.status.available {
  background-color: #28a745;
}

.status.borrowed {
  background-color: #dc3545;
}

.book-action {
  text-align: center;
  margin-top: 0.63rem; 
}

.borrow-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.38rem;
  font-size: 0.9rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.borrow-button:hover {
  background-color: #0056b3;
}

.unavailable-text {
  color: #dd1919;
  font-size: 0.9rem;
}

.no-results {
  text-align: center;
  color: #888;
  margin-top: 1.25rem; 
  font-style: italic;
}
