.btn {
  text-align: center;
  color: white;
  background-color: #c65151;
  border: none;
  border-radius: 6px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.btn:hover {
  background-color: #a63c3c;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}
