.register-container {
  display: flex;
  height: 100vh;
  background-color: #cccccc;
}
// .role{
//   border-radius: 10px;
// }
 
.register-image {
  flex: 1;
  background-color: #f5f3eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.register-image img {
  width: 70%;
  max-width: 400px;
}
 

.register-form {
  flex: 1;
  background-color: #001f4d; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
 
.form-card {
  width: 80%;
  max-width: 380px;
  text-align: center;
}
 
h2 {
  margin-bottom: 20px;
  color: white;
}
.inp{
  width: 25.5rem;
}
 
.input-group {
  margin-bottom: 15px;
}
 
.input-group input,
.input-group select {
  width: 100%;
  padding: 12px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: white;
  font-size: 14px;
}
.imgg{
    height: 100px;
    width: 100px;
}
.btnregister {
  // width: 100%;
   margin-left: 2.5rem;
     width: 10rem;

  background-color: #ff6600; 
  color: white;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
}
 
.btnregister:hover {
  background-color: #ff4500;
}
 
.error {
  color: #ff6666;
  font-size: 14px;
}
 
.login-text {
  margin-top: 15px;
  font-size: 14px;
  margin-left: 2.5rem;
}
 
.login-text a {
  color: #ff6600;
  text-decoration: none;
}
 
.loading {
  color: #cccccc;
}
.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
  display: block;
}
