<div class="login-container">
  <div class="login-image">
    <img src="assets/logo.png" alt="Library Logo" class="img" />
  </div>

  <div class="login-form">
    <div class="form-card">
      <h2>Login</h2>

      <form [formGroup]="loginForm" (ngSubmit)="login()">
        <!-- Email -->
        <div class="input-group">
          <input
            type="email"
            formControlName="email"
            placeholder="Enter email"
          />

          <div class="error" *ngIf="email.invalid && (email.dirty || email.touched)">
            <small *ngIf="email.errors?.['required']">Email is required.</small>
            <small *ngIf="email.errors?.['email']">Enter a valid email address.</small>
          </div>
        </div>

        <!-- Password -->
        <div class="input-group">
          <input
            type="password"
            formControlName="password"
            placeholder="Enter password"
          />

          <div class="error" *ngIf="password.invalid && (password.dirty || password.touched)">
            <small *ngIf="password.errors?.['required']">Password is required.</small>
            <small *ngIf="password.errors?.['minlength']">
              Password must be at least 6 characters.
            </small>
          </div>
        </div>

        <button type="submit" class="btnregister" [disabled]="loading || loginForm.invalid">
          {{ loading ? 'Logging in...' : 'Login' }}
        </button>

        <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
      </form>

      <div class="login-text">
        Don't have an account?
        <a (click)="goToRegister()">Register</a>
      </div>
    </div>
  </div>
</div>
