.login-container {
  display: flex;
  height: 100vh;
  background-color: #cccccc;
}
 
.login-image {
  flex: 1;
  background-color: #f5f3eb;
  display: flex;
  align-items: center;
  justify-content: center;
}
 
.login-image img {
  width: 70%;
  max-width: 400px;
}
 
.login-form {
  flex: 1;
  background-color: #001f4d; 
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
 
.form-card {
  width: 80%;
  max-width: 380px;
  text-align: center;
}
 
h2 {
  margin-bottom: 20px;
  color: white;
}
 
.input-group {
  margin-bottom: 15px;
}
 
.input-group input {
  width: 100%;
  padding: 12px 15px;
  border-radius: 25px;
  border: none;
  outline: none;
  background-color: white;
  font-size: 14px;
}
 
.btnregister {
  // width: 100%;
  width: 10rem;
  align-items: center;
  background-color: #ff6600; 
  color: white;
  padding: 7px;
  border: none;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  margin-left: 2rem;
  transition: 0.3s;
}
 
.btnregister:hover {
  background-color: #ff4500;
}
 
.error {
  color: #ff6666;
  font-size: 14px;
  margin-top: 5px;
}
 
.login-text {
  margin-top: 15px;
  font-size: 14px;
  margin-left: 2.5rem;
}
 
.login-text a {
  color: #ff6600;
  text-decoration: none;
  cursor: pointer;
}
 
.imgg {
  height: 100px;
  width: 100px;
}