.form {
  width: 340px;
  margin: 100px auto;
  margin-top: 200px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  align-items: center;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #aaa;
  border-radius: 4px;
}

button {
  width: 100%;
  padding: 8px;
  background-color: lightblue;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: deepskyblue;
}

small {
  color: red;
  font-size: 12px;
}
.reg{
    margin-top: 15px;
    width: 100px;
    text-align: center;
    margin-left: 120px;
    // align-items: center;
}