<nav>
  <div class="navtop">
    <div class="lib-name">Welcome To  We-Library! </div>
    <div class="username">Heyy..!  {{username}}</div>
  </div>

  <div class="navleft">
    @if (role === 'librarian') {
      <a routerLink="/librarian/home" routerLinkActive="active">Home</a>
      <a routerLink="/librarian/book" routerLinkActive="active">Book</a>
      <a routerLink="/librarian/transaction" routerLinkActive="active">Book Transaction</a>
      <a routerLink="/librarian/reports" routerLinkActive="active">Reports</a>
    }
  

      @if(role=='student'){
        <a routerLink="/student/home" routerLinkActive="active">Home</a>
        <a routerLink="/student/book" routerLinkActive="active">Book</a>
        <a routerLink="/student/transaction" routerLinkActive="active">Book Transaction</a>
        <a routerLink="/student/reports" routerLinkActive="active">Reports</a>

      }

    <button class="logout" (click)="logout()">Logout</button>
  </div>
</nav>

<div class="contentarea">
  <router-outlet></router-outlet>
</div>
