// .navtop{
//   margin: 0%;
//   margin-top: 0%;
//   padding: 0%;
//   height: 7vh;
//   text-align: center;
  
//   border-radius: 4px;
//   display: inline;
//   display: flex;
//   flex-direction: row;
//   margin-left: 220px;
//   border: 1px solid white;
// }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

.navtop {
  position:absolute;
  top: 5px;
  left: 228px;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 2px solid #c7c9cb;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
  font-weight: 600;
  color: #000000;
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.5);
}

.navleft {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background-color: white;
  border-right: 2px solid rgb(160, 202, 247);
  border-radius:100px ;
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.navleft a {
  text-decoration: none;
  color: #0a0303;
  padding: 12px 20px;
  width: 100%;
  display: block;
  transition: all 0.1s ease-out;
  border-radius: 100px;
}

.navleft a:hover,
.navleft a.active {
  background-color: #e8f2f9;
  color: rgb(71, 126, 171);

}
.username {
  position: absolute;
  // top: px;
  right: 20px;
  font-size: 16px;
  color: #333;
  flex-direction: row;
  text-align: end;
  color: #000000;
  font-family:monospace;

}

.logout {
  margin-top: auto;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #460e08;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 4px;
  cursor: pointer;
  transition: 0.3s;
}

.logout:hover {
  background-color: #e2c3c3;
}

/* Content Area */
.contentarea {
  margin-left: 220px;
  margin-top: 60px;
  padding: 20px;
  background: #fff;
  min-height: calc(100vh - 60px);
}
