* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, sans-serif;
}

.navtop {
  position: fixed;
  top: 0;
  left: 220px;
  right: 0;
  height: 60px;
  background-color: #ffffff;
  border-bottom: 2px solid #f0f3f7;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 25px;
  font-size: 20px;
  font-weight: 600;
  color: #000;
  z-index: 1000;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
}

.progress-container {
  position: fixed;
  top: 60px;           
  left: 220px;         
  right: 0;
  height: 6px;
  background: #fffbfb;
  z-index: 900;
}

.progress-bar {
  height: 6px;
  width: 0%;
  background: #4fa8db;
}

.navleft {
  position: fixed;
  top: 0;
  left: 0;
  width: 220px;
  height: 100vh;
  background: #ffffff;
  border-right: 2px solid rgb(160, 202, 247);
  padding-top: 80px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.navleft a {
  text-decoration: none;
  color: #0a0303;
  padding: 12px 20px;
  width: 100%;
  display: block;
  transition: 0.2s;
  border-radius: 8px;
}

.navleft a.active, 
.navleft a:hover {
  background-color: #e8f2f9;
  color: #2c82d6;
}

.username {
  font-size: 16px;
  font-family: Arial, sans-serif;
  color: #444;
  margin-right: 10px;
}

.logout {
  margin-top: auto;
  margin-left: 20px;
  margin-bottom: 20px;
  background-color: #460e08;
  border: none;
  color: #fff;
  padding: 10px 25px;
  border-radius: 6px;
  cursor: pointer;
  transition: 0.3s;
}

.logout:hover {
  background-color: #8c4740;
}

.contentarea {
  margin-left: 220px;
  margin-top: 60px;
  padding: 20px;
  background: #fff;
  min-height: calc(100vh - 60px);
}
